#thumbs3 img {
   background-image: url(../images/wm2010aw/thumbs.jpg);
}
.wm2010aw-1{ background-position: 0 0; width: 75px; height: 111px; } 
.wm2010aw-2{ background-position: 0 -161px; width: 75px; height: 111px; } 
.wm2010aw-3{ background-position: 0 -322px; width: 75px; height: 111px; } 
.wm2010aw-4{ background-position: 0 -483px; width: 75px; height: 111px; } 
.wm2010aw-5{ background-position: 0 -644px; width: 75px; height: 111px; } 
.wm2010aw-6{ background-position: 0 -805px; width: 75px; height: 111px; } 
.wm2010aw-7{ background-position: 0 -966px; width: 75px; height: 111px; } 
#thumbs2 img {
   background-image: url(../images/xmas/thumbs.jpg);
}
.xmas-1{ background-position: 0 0; width: 75px; height: 111px; } 
.xmas-10{ background-position: 0 -161px; width: 75px; height: 111px; } 
.xmas-11{ background-position: 0 -322px; width: 75px; height: 111px; } 
.xmas-12{ background-position: 0 -483px; width: 75px; height: 111px; } 
.xmas-13{ background-position: 0 -644px; width: 75px; height: 111px; } 
.xmas-14{ background-position: 0 -805px; width: 75px; height: 111px; } 
.xmas-15{ background-position: 0 -966px; width: 75px; height: 111px; } 
.xmas-16{ background-position: 0 -1127px; width: 75px; height: 111px; } 
.xmas-2{ background-position: 0 -1288px; width: 75px; height: 111px; } 
.xmas-3{ background-position: 0 -1449px; width: 75px; height: 111px; } 
.xmas-4{ background-position: 0 -1610px; width: 75px; height: 111px; } 
.xmas-5{ background-position: 0 -1771px; width: 75px; height: 111px; } 
.xmas-6{ background-position: 0 -1932px; width: 75px; height: 111px; } 
.xmas-7{ background-position: -125px 0; width: 75px; height: 111px; } 
.xmas-8{ background-position: -125px -161px; width: 75px; height: 111px; } 
.xmas-9{ background-position: -125px -322px; width: 75px; height: 111px; } 
#thumbs1 img {
   background-image: url(../images/womenfall2010/thumbs.jpg);
}
.womenfall2010-1{ background-position: 0 0; width: 74px; height: 111px; } 
.womenfall2010-10{ background-position: 0 -161px; width: 70px; height: 111px; } 
.womenfall2010-11{ background-position: 0 -322px; width: 74px; height: 111px; } 
.womenfall2010-12{ background-position: 0 -483px; width: 76px; height: 111px; } 
.womenfall2010-13{ background-position: 0 -644px; width: 74px; height: 111px; } 
.womenfall2010-14{ background-position: 0 -805px; width: 78px; height: 111px; } 
.womenfall2010-15{ background-position: 0 -966px; width: 75px; height: 111px; } 
.womenfall2010-2{ background-position: 0 -1127px; width: 73px; height: 111px; } 
.womenfall2010-3{ background-position: 0 -1288px; width: 73px; height: 111px; } 
.womenfall2010-4{ background-position: 0 -1449px; width: 75px; height: 111px; } 
.womenfall2010-5{ background-position: 0 -1610px; width: 72px; height: 111px; } 
.womenfall2010-6{ background-position: 0 -1771px; width: 73px; height: 111px; } 
.womenfall2010-7{ background-position: 0 -1932px; width: 76px; height: 111px; } 
.womenfall2010-8{ background-position: -128px 0; width: 72px; height: 111px; } 
.womenfall2010-9{ background-position: -128px -161px; width: 75px; height: 111px; } 
#thumbs0 img {
   background-image: url(../images/menfall2010/thumbs.jpg);
}
.menfall2010-1{ background-position: 0 0; width: 75px; height: 111px; } 
.menfall2010-10{ background-position: 0 -161px; width: 75px; height: 111px; } 
.menfall2010-11{ background-position: 0 -322px; width: 75px; height: 111px; } 
.menfall2010-12{ background-position: 0 -483px; width: 75px; height: 111px; } 
.menfall2010-13{ background-position: 0 -644px; width: 75px; height: 111px; } 
.menfall2010-14{ background-position: 0 -805px; width: 75px; height: 111px; } 
.menfall2010-2{ background-position: 0 -966px; width: 75px; height: 111px; } 
.menfall2010-3{ background-position: 0 -1127px; width: 75px; height: 111px; } 
.menfall2010-4{ background-position: 0 -1288px; width: 75px; height: 111px; } 
.menfall2010-5{ background-position: 0 -1449px; width: 75px; height: 111px; } 
.menfall2010-6{ background-position: 0 -1610px; width: 75px; height: 111px; } 
.menfall2010-7{ background-position: 0 -1771px; width: 75px; height: 111px; } 
.menfall2010-8{ background-position: 0 -1932px; width: 75px; height: 111px; } 
.menfall2010-9{ background-position: -125px 0; width: 75px; height: 111px; } 

