#thumbs3 img {
   background-image: url(../images/wm2010aw/thumbs.jpg);
}
.wm2010aw-1{ background-position: 0 0; width: 75px; height: 111px; } 
.wm2010aw-2{ background-position: 0 -161px; width: 75px; height: 111px; } 
.wm2010aw-3{ background-position: 0 -322px; width: 75px; height: 111px; } 
.wm2010aw-4{ background-position: 0 -483px; width: 75px; height: 111px; } 
.wm2010aw-5{ background-position: 0 -644px; width: 75px; height: 111px; } 
.wm2010aw-6{ background-position: 0 -805px; width: 75px; height: 111px; } 
.wm2010aw-7{ background-position: 0 -966px; width: 75px; height: 111px; } 
